

nav {
    display: flex;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    border-bottom: solid 6px rgb(255, 255, 255);

}

nav ul{
    list-style-type: none;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    display: flex;
    font-size:13px;
    padding: 0px;
    flex-direction: column;
    align-items: center;


}

nav {

    flex-direction: row;
    justify-content: space-around;
}


nav ul {
    flex-direction: row;
    width: 50%;
}

  header {
    height: 60vh;
    justify-content: center;
}


footer {
    padding: 10px;
    background: #f2f2f2;
}


footer p{
    text-align: center;
    padding: 10px;
    font-family:Cabin Condensed;
    color:#000;
    text-align:center;
    margin-top:40px;
}

th{

    
}

nav{
padding: 10px;
    background: #f2f2f2;
}

img{
    text-align: center;

}

th{
    text-align: center;
    padding: 10px;
    font-family:Cabin Condensed;
    color:#000;
    text-align:center;
    margin-top:40px;
}

td{
    text-align: center;
    padding: 10px;
    font-family:Cabin Condensed;
    color:#000;
    text-align:center;
    margin-top:40px;
}